* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  overflow-y: hidden;
}

.carousel-item {
  height: 100%;
}

.carousel-item .row {
  height: 100%;
  width: 100%;
  padding-top: 53px;
  padding-bottom: 77px;
  padding-right: 68px;
  padding-left: 90px;
}

.row {
  padding: 60px;
}

.text {
  padding-top: 75px;
  padding-left: 0px;
  margin-right: -20px;
}
.text-body {
  font-weight: 300;
  font-size: 25px;
  position: relative;
  text-align: left;
  z-index: 2;
}

#text-pattern-john {
  height: 66px;
  width: 95px;
  z-index: 1;
  position: relative;
  z-index: 1;
  left: 80px;
  top: 25px;
}

#text-pattern-tanya {
  height: 66px;
  width: 95px;
  z-index: 1;
  position: relative;
  z-index: 1;
  left: 80px;
  top: 25px;
}

.text-name {
  font-weight: 700;
  font-size: 18px;
}

.text-designation {
  font-size: 18px;
  font-weight: 300;
}

.slider-image {
  position: relative;
  top: 0;
  left: 0;
}

#img-tanya {
  height: 85%;
  width: 85%;
}

#img-john {
  height: 85%;
  width: 85%;
}

.image {
  position: absolute;
  top: 36px;
  left: 0;
  z-index: 2;
  box-shadow: 0px 30px 26px -11px rgba(0, 0, 0, 0.2);
}

#bg-img-tanya {
  height: 102%;
}

#bg-img-john {
  height: 102%;
}

.bg-img {
  position: relative;
  bottom: 0;
  right: 0;
  top: -13px;
  z-index: 1;
}

.carousel-inner {
  height: 100%;
}

#carouselExampleInterval {
  width: 1152px;
  height: 640px;
  margin: auto 0px;
}

.container {
  margin: 0px auto;
  /*margin: 3rem 10.5rem;*/
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-control {
  position: absolute;
  z-index: 3;
  right: 26.5rem;
  bottom: 6rem;
  background: #fff;
  border-radius: 2rem;
  border: 1px solid white;
  width: 5rem;
  height: 2.5rem;
}

.carousel-control-prev {
  position: relative;
  left: 13px;
  top: 10px;
}

.carousel-control-next {
  position: relative;
  left: 53px;
  top: -6.5px;
}

.carousel-control-prev-icon {
  background-image: url(./images/icon-prev.svg);
  height: 1rem;
}

.carousel-control-next-icon {
  background-image: url(./images/icon-next.svg);
  height: 18px;
}

@media only screen and (max-width: 575px) {
  .container {
    margin: 0px auto;
    padding: 0px;
    width: 375px;
    height: 100%;
    overflow: auto;
  }

  #carouselExampleInterval {
    width: 375px;
    height: 100%;
  }

  .carousel-inner {
    height: 100%;
    width: 375px;
  }

  .carousel-item {
    width: 375px;
    height: 100%;
  }

  .carousel-item .row {
    height: 100%;
    width: 375px;
    padding: 0px;
    display: flex;
    margin-left: 0px;
  }

  .slider-image {
    order: 1;
  }

  .slider-text {
    order: 2;
    margin-top: -5px;
  }

  .text {
    padding: 0px;
    margin-right: 0px;
  }

  #text-pattern-john {
    height: 40px;
    width: 55px;
    position: relative;
    z-index: 1;
    left: 145px;
    top: 25px;
  }

  #text-pattern-tanya {
    height: 40px;
    width: 55px;
    position: relative;
    z-index: 1;
    left: 145px;
    top: 25px;
  }

  .text-body {
    font-weight: 300;
    font-size: 17px;
    position: relative;
    z-index: 2;
    text-align: center;
    margin-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .text-bottom {
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .text-name {
    font-weight: 700;
    font-size: 15px;
    display: block;
    text-align: center;
  }

  .text-designation {
    font-size: 14px;
    display: block;
    text-align: center;
    font-weight: 300;
  }

  .image {
    position: absolute;
    top: 45px;
    left: 70px;
    z-index: 2;
    box-shadow: 0px 30px 26px -11px rgba(0, 0, 0, 0.2);
  }

  #img-tanya {
    height: 75%;
    width: 65%;
  }

  #img-john {
    height: 75%;
    width: 65%;
  }

  .bg-img {
    position: relative;
    bottom: 0;
    right: 0;
    top: 14px;
    z-index: 1;
  }

  #bg-img-tanya {
    height: 91%;
    width: 335px;
  }

  #bg-img-john {
    height: 91%;
    width: 335px;
  }

  .carousel-control {
    position: absolute;
    z-index: 3;
    right: 9.5rem;
    bottom: 19.5rem;
    background: #fff;
    border-radius: 2rem;
    border: 1px solid white;
    width: 5rem;
    height: 2.5rem;
  }
}
